<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.from %>
</p>

<p>
  <b>To:</b>
  <%= @message.to %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
