<% if @simplifeed.empty? %>
	<div class="row-fluid">
		<div class="span12 hero-unit">
			<h2>Welcome to Simplifeed.</h2>
			<h3>To get started, add some friends.</h3>
			<%= form_tag(:action => 'request_friendship') %>
				<input name="friend_username" type="text" class="" style="margin: 0 auto;" autocomplete="off" data-provide="typeahead" data-items="8" data-source='<%= @users.to_json %>'>
				<input type="submit" value="Send Friend Request" class="btn btn-primary" />
			</form>
		</div>
	</div>
<% end %>

<a class="btn btn-info" data-toggle="modal" href="#add-provider">
	<i class="icon-user icon-white"></i> Connect Account
</a>

<a class="btn btn-inverse pull-right" data-toggle="modal" href="#post">
	<i class="icon-plus icon-white"></i> Add Post
</a>

<div id="add-provider" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Connect account to Simplifeed</h3>
	</div>
	<div class="modal-body">
		  <ul id="login">
		    <% @providers.each do |provider| %>
		      <% if ! @authorized_providers.include?(provider) %>
		        <li><a href="/auth/<%=provider%>" class="<%=provider%>"></a></li>
		      <% end %>
		    <% end %>
		  </ul>
	</div>
</div>

<div id="post" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Add Post</h3>
	</div>
	<%= form_tag(:action => 'post') %>
    <div class="modal-body">
    	<%= text_area_tag :body %>
		      <ul id="post-providers">
		        <% @providers.each do |provider| %>
		          <% if @authorized_providers.include?(provider) %>
			          <li>
			           <%= check_box_tag 'providers[]', provider, true, :id => "post_to_#{provider}" %>
			            <img src="/images/buttons/<%=provider%>_16.png" />
			          </li>
		          <% end %>
		        <% end %>
		      </ul>
		 </div>
		 <div class="modal-footer">
		 	<input type="submit" value="Post" class="btn btn-primary" />
		 </div>
	</div>
	</form>
</div>


<div id="simplifeed" class="row-fluid">
	  <div id="feeds" class="span12">
	  
	  <% @simplifeed.sort {|a, b| a[:created_at] <=> b[:created_at]}.reverse.each do |post| %>
	  	<% user = User.find(post.user_id) %>
	  	<div class="well simplifeed">
	        <div class="row-fluid">
		        <div class="span4">
		        	<p class="lead">
		        		<% if user.first_name != nil && user.last_name != nil %>
		        			<%= user.first_name %> <%= user.last_name %>
		        		<% else %>
		        			<%= user.username %>
		        		<% end %>
		        	</p>
		        </div>
		        <div class="span5"></div>
		        <div class="span3 align-right">
		        	<abbr class="timeago" title="<%=post.created_at.to_time.iso8601%>"><%=post.created_at.to_time.iso8601%></abbr>
		        </div>
	        </div>
	        <div class="row-fluid">
		        <div class="span2">
		        	<% if user.photo.url(:thumb) %>
		        	  <%= image_tag(user.photo.url(:thumb)) %>
		        	<% end %>
		        </div>
		        
		          <div class="span10">
		          	<%= raw(auto_link(post.content)) %>
		          </div>
	        </div>
	      </div>
	    <% end %>
	  </div>
</div>