<a class="btn btn-info" data-toggle="modal" href="#add-provider">
	<i class="icon-user icon-white"></i> Connect Account
</a>

<a class="btn btn-inverse pull-right" data-toggle="modal" href="#post">
	<i class="icon-plus icon-white"></i> Add Post
</a>

<div id="add-provider" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Connect account to Simplifeed</h3>
	</div>
	<div class="modal-body">
		  <ul id="login">
		    <% @providers.each do |provider| %>
		      <% if ! @authorized_providers.include?(provider) %>
		        <li><a href="/auth/<%=provider%>" class="<%=provider%>"></a></li>
		      <% end %>
		    <% end %>
		  </ul>
	</div>
</div>

<div id="post" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Add Post</h3>
	</div>
	<%= form_tag(:action => 'post') %>
    <div class="modal-body">
    	<%= text_area_tag :body %>
		      <ul id="post-providers">
		        <% @providers.each do |provider| %>
		          <% if @authorized_providers.include?(provider) %>
			          <li>
			           <%= check_box_tag 'providers[]', provider, true, :id => "post_to_#{provider}" %>
			            <img src="/images/buttons/<%=provider%>_16.png" />
			          </li>
		          <% end %>
		        <% end %>
		      </ul>
		 </div>
		 <div class="modal-footer">
		 	<input type="submit" value="Post" class="btn btn-primary" />
		 </div>
	</div>
</div>


<div id="simplifeed" class="row-fluid">
	  <div id="feeds" class="span12">
	    <% @updates.sort_by(&:when).reverse.each do |update| %>
	     <div class="well <%= update.service %>">
	        <div class="row-fluid">
		        <div class="span4">
		        	<p class="who <%= update.service %>">
		        		<%= update.who %>
		        	</p>
		        </div>
		        <div class="span5"></div>
		        <div class="span3 align-right">
		        	<abbr class="timeago" title="<%=update.when%>"><%=update.when%></abbr>
		        </div>
	        </div>
	        <div class="row-fluid">
		        <div class="span2">
		        	<%= image_tag(update.pic) %>
		        </div>
		        
		          <% if image = update.try(:image) %>
		          	<div class="span2">
		            <% if link = update.try(:link) %>
		              <%= link_to(image_tag(image), link) %>
		            <% else %>
		              <%= image_tag(image) %>
		            <% end %>
		          </div>
		          <div class="span8">
		          	<%= raw(auto_link(update.what)) %>
		          </div>
		          <% else %>
		          <div class="span10">
		          	<%= raw(auto_link(update.what)) %>
		          </div>
		          <% end %>
	        </div>
	      </div>
	    <% end %>
	  </div>
</div>