<% if !@simplifeed.nil? && @simplifeed.empty? && active === 'feed' %>
	<div class="row-fluid">
		<div class="span12 hero-unit">
			<h2>Welcome to Simplifeed.</h2>
			<h3>To get started, add some friends.</h3>
			<%= form_tag(:action => 'request_friendship') %>
				<input name="friend_username" type="text" placeholder="Enter username to search." class="" style="margin: 0 auto;" autocomplete="off" data-provide="typeahead" data-items="8" data-source='<%= @users.to_json %>'>
				<input type="submit" value="Send Friend Request" class="btn btn-primary" />
			</form>
		</div>
	</div>
<% end %>

<a class="btn btn-info" data-toggle="modal" href="#add-provider">
	<i class="icon-user icon-white"></i> Connect Account
</a>

      <button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#add-post">
		  <i class="icon-plus icon-white"></i> Add Post
	  </button>

<div id="add-provider" class="modal hide fade">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Connect account to Simplifeed</h3>
	</div>
	<div class="modal-body">
		  <ul id="login">
		  	<% if @providers.empty? %>
		  		<li>Nothing to see here.</li>
		  	<% end %>
		  	
		    <% @providers.each do |provider| %>
		      <% if !@authorized_providers.include?(provider) %>
		        <li>
		        	<% if provider === "twitter" %>
		        		<a href="/users/auth/<%=provider%>" class="btn btn-large btn-block btn-primary"><i class="icon-twitter"></i> Sign in with Twitter</a>
		        	<% elsif provider === "facebook" %>
		        		<a href="/users/auth/<%=provider%>" class="btn btn-large btn-block btn-info"><i class="icon-facebook"></i> Sign in with Facebook</a>
		        	<% end %>
		        </li>
		      <% end %>
		    <% end %>
		  </ul>
	</div>
</div>


<div id="simplifeed" class="row-fluid">
	<div class="span4 well">
		<ul class="side-menu nav nav-pills nav-stacked">
		  <% if active === 'feed' %>
		  	<li class="active"><a href="/feed"><i class="icon-cloud"></i> Feed</a></li>
		  <% else %>
		  	<li><a href="/feed"><i class="icon-cloud"></i> Feed</a></li>
		  <% end %>
		  <% if @authorized_providers.include?('twitter') %>
			  <% if active === 'twitter' %>
			  	 <li class="active"><a href="/twitter"><i class="icon-twitter"></i> Twitter</a></li>
			  <% else %>
			  	 <li><a href="/twitter"><i class="icon-twitter"></i> Twitter</a></li>
			  <% end %>
		  <% end %>
		  <% if @authorized_providers.include?('facebook') %>
			  <% if active === 'facebook' %>
			  	 <li class="active"><a href="/facebook"><i class="icon-facebook"></i> Facebook</a></li>
			  <% else %>
			  	 <li><a href="/facebook"><i class="icon-facebook"></i> Facebook</a></li>
			  <% end %>
		  <% end %>
		  <% if active === 'mentions' %>
		  	 <li class="active"><a href="/mentions"><i class="icon-bullhorn"></i> Mentions</a></li>
		  <% else %>
		  	 <li><a href="/mentions"><i class="icon-bullhorn"></i> Mentions</a></li>
		  <% end %>
		  <% if active === 'favs' %>
		  	<li class="active"><a href="/favs"><i class="icon-heart"></i> Favs</a></li>
		  <% else %>
		  	<li><a href="/favs"><i class="icon-heart"></i> Favs</a></li>
		  <% end %>
		  <% if active === 'profile' %>
		  	<li class="active"><a href="/<%= current_user.username %>"><i class="icon-user"></i> My Profile</a></li>
		  <% else %>
		  	<li><a href="/<%= current_user.username %>"><i class="icon-user"></i> My Profile</a></li>
		  <% end %>
		  <li><a href="/friends"><i class="icon-group"></i> Add Friends</a></li>
		</ul>
	</div>
	<div id="feeds" class="span8">
	  <div id="add-post" class="collapse">
	  	<div class="well">
			  <%= form_tag(:controller => 'users', :action => 'post') %>
			    <div class="">
			    	<%= text_area_tag :body %>		      
					<ul id="post-providers">
				        <% @providers.each do |provider| %>
				          <% if @authorized_providers.include?(provider) %>
					          <li>
					           <%= check_box_tag 'providers[]', provider, false, :id => "post_to_#{provider}" %>
					            <img src="/images/buttons/<%=provider%>_16.png" />
					          </li>
				          <% end %>
				        <% end %>
				    </ul>
				 </div>
				 <div class="footer">
				 	<div id="out"></div>
				 	<input type="submit" value="Post" class="btn btn-primary pull-right" />
				 	<div class="clearfix"></div>
				 </div>
			</form>
		</div>
	  </div>
	  <% if !@updates.nil? && !@updates.empty? %>
	  	  <% @updates.each do |update| %>
		  	<%= render "shared/update", :update => update, :single_post => false %>
		  	<% end %>
	  <% elsif @simplifeed.nil? || @simplifeed.empty? %>
	  	<div class="well post-item">
		  	<div class="row-fluid">
		  		<div class="span12">
		  			<p class="lead">Nothing yet.</p>
		  		</div>
		  	</div>
	  	</div>
	  <% else %>
		  <% @simplifeed.sort {|a, b| a[:created_at] <=> b[:created_at]}.reverse.each do |post| %>
		  	<%= render "shared/post", :post => post, :single_post => false %>
		  <% end %>
	  <% end %>
	</div>
</div>