<p id="notice"><%= notice %></p>

<p>
  <b>In url:</b>
  <%= @link.in_url %>
</p>

<p>
  <b>Out url:</b>
  <%= @link.out_url %>
</p>

<p>
  <b>Http status:</b>
  <%= @link.http_status %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
