<p id="notice"><%= notice %></p>
<div class="row-fluid">
<% user = User.find(@post.user_id) %>
	  	<div class="span12 well simplifeed">
	        <div class="row-fluid">
		        <div class="span4">
		        	<p class="lead">
		        		<%= user.username %>
		        	</p>
		        </div>
		        <div class="span5"></div>
		        <div class="span3 align-right">
		        	<abbr class="timeago" title="<%= @post.created_at.to_time.iso8601 %>">
		        		<%= @post.created_at.to_time.iso8601 %>
		        	</abbr>
		        </div>
	        </div>
	        <div class="row-fluid">
		        <div class="span2">
		        	<% if user.photo.url(:thumb) %>
		        	  <%= image_tag(user.photo.url(:thumb)) %>
		        	<% end %>
		        </div>
		        
		          <div class="span10">
		          	<%= raw(auto_link(@post.content)) %>
		          </div>
	        </div>
	   </div>
</div>
