<h1>Listing uploads</h1>

<table>
  <tr>
    <th>Picture file name</th>
    <th>Picture content type</th>
    <th>Picture file size</th>
    <th>Picture update at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.picture_file_name %></td>
    <td><%= upload.picture_content_type %></td>
    <td><%= upload.picture_file_size %></td>
    <td><%= upload.picture_update_at %></td>
    <td><%= link_to 'Show', upload %></td>
    <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
    <td><%= link_to 'Destroy', upload, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
