<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <title>Simplifeed</title>
	  <%= csrf_meta_tag %>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js" %>
	  <script src="/js/jquery.ui.widget.js" type="text/javascript"></script>
	  <script src="/js/jquery.iframe-transport.js" type="text/javascript"></script>
	  <script src="/js/jquery.fileupload.js" type="text/javascript"></script>
	  <script src="/js/jquery.fileupload-ui.js" type="text/javascript"></script>
	  <%= javascript_include_tag "application" %>
	  <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
	  <% if user_signed_in? %>
			<% @notifications = Notification.find(:all, :conditions => { :read => false, :user_id => current_user.id }) %>
			 <script>
			 	var notification_event_id="notification-<%= current_user.id %>";
			 	var message_event_id="message-<%= current_user.id %>";
			 	var current_user_id = <%= current_user.id %>;
			 </script>
	  <% end %>
	</head>
	
	<body class="<% controller.controller_name %>">
	  <div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		    	<a class="brand" href="/">Simplifeed</a>
				<ul class="nav pull-right">
				  <% if user_signed_in? %>
				  	<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						          Chat
						          <% unread_messages = Message.where(:to => current_user.id, :read => false) %>
						          <% if unread_messages != nil && unread_messages.size > 0 %>
						          	<span id="message-count" class="badge badge-info"><%= unread_messages.size %></span>
						          <% else %>
						          	<span id="message-count" class="badge">0</span>
						          <% end %>
						          <b class="caret"></b>
						    </a>
						    <ul id="messages" class="dropdown-menu">
							    <% if @recent_friends && @recent_friends.size > 0 %>
							      <% @chat_modals = [] %>
								  <% @recent_friends.each do |recent_friend| %>
								  	<% messages_to_user = Message.where(:from => current_user.id, :to => recent_friend.id) %>
								  	<% messages_from_user = Message.where(:from => recent_friend.id, :to => current_user.id) %>
								  	<% messages = messages_to_user + messages_from_user %>
								  	<% messages.sort! { |a,b| a.created_at <=> b.created_at } %>
								  	<% unread_messages = messages.select{|message| message.read = false} %>
								  	<% chat = {'friend' => recent_friend, 'messages' => messages} %>
								  	<% @chat_modals.push(chat) %>
								  	<li>								  	
								  		<a class="toggle-chat" data-toggle="modal" data-target="#chat-<%= recent_friend.id %>">
								  			<% if !unread_messages.empty? %>
								  				<span class="badge badge-info unread-count"><%= unread_messages.size %></span>
								  			<% else %>
								  				<span class="badge unread-count">0</span>
								  			<% end %>
								  			
								  			<%= recent_friend.username %>

									  		<% if @online_friends.include? recent_friend.id %>
									  			<span class="label label-info pull-right">Online</span>
									  		<% end %>
								  		</a>
								  	</li>
								  <% end %>
								<% else %>
									<li class="empty">Nothing to see here.</li>
								<% end %>
						    </ul>
					    </li>
				  
					  	<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						          Notifications
						          <% if @notifications.size > 0 %>
						          	<span id="notification-count" class="badge badge-info"><%= @notifications.size %></span>
						          <% else %>
						          	<span id="notification-count" class="badge"><%= @notifications.size %></span>
						          <% end %>
						          <b class="caret"></b>
						    </a>
						    <ul id="notifications" class="dropdown-menu">
							    <% if @notifications.size > 0 %>
								  <% @notifications.each do |notification| %>
								  	<li><%= notification.message.html_safe %></li>
								  <% end %>
								<% else %>
									<li class="empty"><a>Nothing to see here.</a></li>
								<% end %>
						    </ul>
					    </li>
				  	
				    <li class="dropdown">
					    <a href="#"
					          class="dropdown-toggle"
					          data-toggle="dropdown">
					          <%= current_user.email %>
					          <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					      <% @user==current_user %>
						  <li><%= link_to 'Edit Profile', edit_user_registration_path(@user) %></li>
						  <li><%= link_to "Manage Friends", '/friends' %></li>
					      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
					    </ul>
				    </li>
				    
				  <% else %>
				    <li><%= link_to "Sign in", new_user_session_path %></li>
				  <% end %>
				</ul>
		    </div>
		  </div>
	  </div>
	  <% if @chat_modals != nil %>
		  <% @chat_modals.each do |chat| %>
			  <div class="chat-window modal hide" id="chat-<%= chat['friend'].id %>">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">×</button>
				    <h3>Chat with <%= chat['friend'].username %></h3>
				  </div>
				  <div class="modal-body">
				  	<div class="chat-feed">
				     <% chat['messages'].last(10).each do |message| %>
				     	<% from = User.find(message.from) %>
				     	<p><%= from.username %>: <%= message.content %> <span class="pull-right"><%= message.created_at.strftime("%I:%M %p") %></span></p>
				     <% end %>
				     </div>
				  </div>
				  <div class="modal-footer">
				  	<div>
				  		<textarea class="chat-input" chat-id="<%= chat['friend'].id %>" chat-username="<%= current_user.username %>"></textarea>
				  	</div>
				    <a href="#" class="btn" data-dismiss="modal">Close</a>
				    <a href="#" class="chat-send btn btn-primary">Send</a>
				  </div>
			   </div>
		  <% end %>
	  <% end %>
	  
	  <div id="container" class="container-fluid">
	  	<div class="row-fluid">
	  		<div class="span2">
	  		</div>
		    <div id="main" class="span8" role="main">
		      <div class="row-fluid">
		      	<div id="growl-notifications" class="span12"></div>
		      </div>
		      <div class="row-fluid">
		      	<div class="span12">
		      	<% if !flash.empty? %>
			      <div id="flash" class="span12 alert alert-<%= @alert_style %>">
			        <% flash.each do |key, value| %>
			          <div title="<%= key.to_s.humanize %>">
			            <p><%= value %></p>
			          </div>
			        <% end %>
			      </div>
			    <% end %>
		      	</div>
		      </div>
		      <%= yield %>
			  <div class="row-fluid">
			    <div class="span12 align-right">
			      Powered by <a href="http://www.simplifeed.me/">Simplifeed</a>
			    </div>
			  </div>
		    </div>
	  	</div>
	  </div>
	</body>
</html>